@font-face {font-family: Departuremono; src: url("fonts/DepartureMonoNerdFont-Regular.otf") }
@font-face {font-family: Bigblueterm; src: url("fonts/BigBlueTerm437NerdFontMono-Regular.ttf") }


:root{
    Background-color: #0B32B0;
    font-family: Departuremono;
}

h1, h2, h3 {
    font-family: Bigblueterm; 
    text-align: center;
    color: #222222;

}

p {
    font-family: Departuremono; 
    color: #179CF9;
}

nav {
    font-family: Departuremono;
    color: #0AE4EE;
    text-algin: center;
}

nav ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
    unicode-bidi: isolate;
    text-align: center;
    list-style-type:none;
    font-size: 15px;
}

li{
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
    line-height: 25px;
    margin-bottom: 15px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}
#linkslist{
    text-align: center;
    list-style-type:none;
}
#lumonList{
    color: #FFFFFF;
    padding: 10px;
    background-color: black;
    border: 100px;
    list-style-type:none;
}

a {
    color: #179CF9;
}

a:visited{
    font-family: Departuremono;
    color: #222222;
}

#files, #filecomp{
    width: 120px;
    height: 20px;
}

#scarynums{
    width: 130px;
    height: 115px;
}

section{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.imgwtext {
    float: right;
    width: 150px;
    border: 1px #000000 solid;
}

#Introduction li{
    list-style-type:none;
}
img{
    width:150px;
    height: 150px;
}



