@font-face {font-family: Departuremono; src: url('fonts/DepartureMono/DepartureMonoNerdFont-Regular.otf'); }
@font-face {font-family: Bigblueterm; src: url('fonts/BigBlueTerminal/BigBlueTerm437NerdFontMono-Regular.ttf'); }


:root{
    Background-color: #0B32B0;
    
}

h1, h2, h3 {
    font: Bigblueterm, mono; 
    text-align: center;


}

p {


}












