@font-face {font-family: Departuremono; src: url("fonts/DepartureMonoNerdFont-Regular.otf") }
@font-face {font-family: Bigblueterm; src: url("fonts/BigBlueTerm437NerdFontMono-Regular.ttf") }


:root{
    Background-color: #0AE4EE #0B32B0;
    
}

h1, h2, h3 {
    font-family: Bigblueterm; 
    text-align: center;
    color: #222222

}

p {
    font-family: Departuremono; 
    color: #0B32B0;
}

nav {
    font-family: Departuremono;
    color: #4CAEFF;
}

ul{

}

a {

}

a:visited{
    font-family: Departuremono;
    color: #0B32B0
}









