:root
{
    --midnightpurp: RGB(46, 26, 71);
    --midnightblue: RGB(25, 25, 112);
    --sunriseorange: #E67451;
    --uncblue: RGB(1,45,91);
    --uncgold: RGB(254,189,54);
    --uncgray: RGB(235,235,235);
    color: var(--midnightpurp);
    background-color:var(--midnightblue);
    text-align: center;

}

.title
{
    color: var(--sunriseorange);
}

h1
{
    font-size: 48pt;
    text-decoration: underline;
    color: gold;
}

img
{
    margin: auto;
    display: block;
}

table
{
    margin: auto;
}
table, th, td{
	border: 2px solid gray;
}   
th {
	color: Orange;
}
