
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.test {
    color: blue;
    background-color: blueviolet;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
}


.centered-div {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
html, body {
    min-width: 20vw;
}
body, input, button {
    font-size: 14px;
    font-family: Roboto, arial, sans-serif;
    color: var(--COEmY);
}
body {
    background: white;
    display: flex;
    flex-direction: column;
}

.top-section {
    display: flex;
    justify-content: space-between;
    padding: 1rem;

}

.left-side,.right-side{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;



}


.top-section .middle-section .footer{
    width: 20vw;

}

.expermintations-icon{
   width: 1.5rem;
    height: 1.5rem;

}


.app-icon {
    width: 1.5rem;
    height: 1.5rem;

}

.profile-pic{
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
}

.search-icon{
    width: 1rem;
    height: 1rem;
}

.mic,.camera{
    width: 1.5rem;
    height: 1.5rem;
}

.google-logo{
    width: 10rem;
    height: 6.5rem;

}

a {
    text-decoration: none;
    color: black;
        
}

.middle-section{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    gap: 1.2rem;
}

.search-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.search-form-input{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dfe1e5;
    gap: 1rem;
    border-radius: 30px;
    padding: 0.5rem 1.5rem;
}

.search-form label {
    display: none;
}

.search-form input{
    width: 27rem;
    padding: 0.5rem;
    border: none;
    outline: none;
}

.search-form button {
    background-color: #303134;
    border: 1px solid #303134;
    border-radius: 4px;
    color: #e8eaed;
    font-family: Roboto, arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;

}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e8eaed;
    padding: 1rem 1.5rem; 
    margin-top: 15rem;
}

.footer a {
 margin: 0 1rem;

}
